@import 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@use 'src/styles/reset.scss';


body {
  margin: 0;
  font-family: 'Ramaraja', serif;
  background-color: $background-color;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

