@import 'src/styles/vars.scss';
@use 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

.input {
    font-family: 'Ramaraja', serif;
    border-radius: 30px;
    background-color: #E9DBDB;
    box-shadow: inset  4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: $basic-gutter;
    margin: 1rem;
    text-align: center;
}
.input::placeholder {
    color: #ADABAB;
    text-align: center;
}

.input:focus {
    outline: none;
    text-align: left;
}