@import 'src/styles/vars.scss';
@use 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

.submit-breebe {
    background: linear-gradient(90deg, #A4CDBD -35.29%, #D79A9A 100%);
    border: 1px solid #CFB0BB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: .5rem;
    padding-left: .5rem;
    color: #DBCBCB;
}
.log-out {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ramaraja', serif;
    border-radius: 30px;
    padding: $basic-gutter;
    background-color: $deep-green;
    margin-right: .5rem;
    border: none;
}

.get-breebes {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ramaraja', serif;
    border-radius: 30px;
    padding: $basic-gutter;
    background-color: $deep-pink;
    border: none;
}

.breebes {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}

.single-breebe {
    font-family: 'Ramaraja', serif;
    border-radius: 30px;
    background-color: $default-color;
    padding: $basic-gutter;
    margin: $basic-gutter;
    &--edit{
        width: 10%;
    }
    &--delete{
        width: 10%;
    }
}

*:focus {
    outline: none;
}