@import 'src/styles/vars.scss';
@use 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
*{
    font-family: 'Ramaraja', serif;
}

.submit-breebe {
    background: linear-gradient(90deg, #A4CDBD -35.29%, #D79A9A 100%);
    border: 1px solid #CFB0BB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: .5rem;
    padding-left: .5rem;
    color: #DBCBCB;
}


.get-breebes {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: $basic-gutter;
    background-color: $deep-pink;
    border: none;
}

.breebes {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}

.single-breebe {
    width: 100%;
    display: flex;
    font-family: 'Beth Ellen', cursive;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    border-radius: 30px;
    background-color: none;
    padding: $mini-gutter;
    margin: $mini-gutter;
    &--form{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
    }
    &--input {
        display: block;
        border: none;
        border-radius: 30px;
        margin: auto;
        background-color: $default-color;
        width: 90%;
        text-align: center;
        box-sizing: content-box;
    }
    &--tag-edit {
        display: block;
        border: none;
        border-radius: 30px;
        margin: auto;
        background-color: $default-color;
        text-align: center;
        box-sizing: content-box;
    }
    &--text {
        display: inline-block;
        width: 80%;
    }
    &--icons {
        display: inline-block;
        width: 20%;
    }
    &--edit{
        display: inline-block;
        width: 30%;
    }
    &--delete{
        display: inline-block;
        width: 30%;
    }
    &--edit-pen {
        width: 10%;
    }
    &--back {
        width: 10%;
    }

}

*:focus {
    outline: none;
}

.svg-text-sub {
    width: 40%;
    display: block;
    margin: auto;
    transition: all .2s ease-in-out;  
}

.modal {
    font-family: 'Beth Ellen', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    &--label {
        color: $deep-pink;
    }
    &--title {
        margin: $mini-gutter;
        font-size: .8rem;
    }
}

.modal-main {
    position:fixed;
    background: $light-pink;
    width: 80%;
    border-radius: 30px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.loader{
    position: absolute;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    z-index: 10;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}
.display{
    &--loader{
        width: 20%;
        margin: auto;
        animation: rotation 5s infinite linear;
    }
    &--none{
        display: none;
    }
}

.cloud {
    width: 80%;
    height: 30%;
    margin: auto;
}