@import 'src/styles/vars.scss';
@use 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

.tags {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding: $basic-gutter;
    &--tag, .all {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        width: auto;
        background-color: $deep-pink;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: $mini-gutter;
        margin-right: $mini-gutter;
        box-sizing: content-box;
    }

}

.--darker {
    background-color: $default-color;
}