@import 'src/styles/vars.scss';
@use 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

.tags {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding: $basic-gutter;
    &--tag, .all {
        font-family: 'Ramaraja', serif;
        width: 10%;
        background-color: $light-pink;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: $mini-gutter;
        margin-right: $mini-gutter;
        box-sizing: content-box;
    }
}

