@import 'src/styles/vars.scss';
@import 'src/styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

.submit {
    font-family: 'Ramaraja', serif;
    font-size: 1rem;
    background-color: $deep-green;
    border: none;
    border-radius: 30px;
    padding: $basic-gutter;
    margin: 1.5rem;
    padding-left: $medium-gutter;
    padding-right:  $medium-gutter;
    cursor: pointer;
}

.submit:hover {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.link>* {
    color: #000000;
    font-family: 'Ramaraja', serif;
    font-size: $basic-gutter;
}

@keyframes movedown {
    100% {
        transform: translateY(100%);
        top: 100vh;
    }
}

.svgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: -3;
}

.svg-text {
    width: 50%;
    display: block;
    margin: auto;
    transform: translateY(0);
  /*   animation: movedown 10s linear infinite; */
}

.intro {
    width: 60%;
    padding: 2rem;
}