$deep-pink: #E2A9BD;
$deep-green: #ACC5A6;
$background-color: #F2CFDC;
$mini-gutter: .5rem;
$basic-gutter: 1rem;
$medium-gutter: 2rem;
$default-color: #E9DBDB;
$light-pink: #FFD8D8;
$dark-default: #778899;
$color: rgb(255,215,7);
$colorDark: darken($color, 10%) transparent;