@import 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.user{
    &--name{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .8em;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0%;
    background-color:rgba(226, 167, 188, 0.53);
    border-radius: 30px;
    padding: $basic-gutter;
    margin: $basic-gutter;
    cursor: pointer;
    }
    &--logout{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: .7em;
        font-weight: 700;
        border-radius: 30px;
        width: auto;
        padding: $basic-gutter;
        background-color: $fluo-green;
        margin: auto;
        border: none;
        box-sizing: content-box;
        cursor: pointer;
        }
    &--intro {
        font-family: 'Montserrat Alternates', sans-serif;
        line-height: $medium-gutter;
        padding: $mini-gutter;
        &--btns{
            display:flex;
            flex-flow: row wrap;
            align-items: baseline;
            justify-content: space-around;
        }
    }
    
}

.bolder {
    font-weight: 700;
}

.modal-main--back{
    width: 25%;
    cursor: pointer;
}

.modal-user{
    background: #d9abba;
    box-shadow: inset 20px 20px 60px #b8919e,
            inset -20px -20px 60px #fac5d6;
    border-radius: 29px;
    max-height: 100vh;
    max-width: 300px;
    overflow-y: auto;
    margin: auto;
}