@import 'src/styles/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.brouvoir {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 250px;
    min-height: 250px;
    padding: $mini-gutter; 
    box-sizing: content-box;
    border-radius: 29px;
    background: linear-gradient(90deg, #A4CDBD -35.29%, #D79A9A 100%);
    box-shadow: inset 8px 8px 60px #9b848d,
                inset -8px -8px 60px #ffffff;
}

.modal-main--go-back{
    margin-left: 0;
    width: 20%;
    cursor: pointer;
}